*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
body{
    background-color: black;
}
.container{
    margin:10px 10%;
}
.userchoices,.comchoices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btns{
    all:unset;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    margin: 6px;
    height: 100px;
    width: 100px;
}
.results{
    display: flex;
    justify-content: space-evenly;
}
.cscore,.uscore{
    border-radius: 5px;
    color: black;
    background-color: white;
    height: 100px;
    width: 120px;
    margin: 5px;
}
.results>div>h3,h1{
    color: black;
}
.rock{
    background-image: url(images/therock.png);
    background-size: contain;
}
.paper{
    background-image: url(images/paper.png);
    background-size: contain;
}
.scissor{
    background-image: url(images/scissors.png);
    background-size: contain;
    background-repeat: no-repeat;
}
