*{
    font-size: 40px;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}
.play{
    /* border: 2px solid red; */
    margin:10px 10%;
    padding: 20px;
    min-height:650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pbtn{
    height: 130px;
    width: 130px;
    cursor: pointer;
    border-radius: 20%;
    /* margin:0px 12%; */
}
h2{
    width: 100%;
    text-align: center;
}
#rbtn,#crbtn{
    background-image: url(images/therock.png);
    background-size: contain;
}
#pprbtn,#cpprbtn{
    background-image: url(images/paper.png);
    background-size: contain;
}
#scbtn,#cscbtn{
    background-color: #fbf6f6;
    background-image: url(images/scissors.png);
    background-size:contain;
    background-repeat:no-repeat ;
    background-position: center;
}
h1{
    margin: 50px;
    text-align: center;
}

.pbtn:hover{
    box-shadow: 0px 0px 100px 0px rgb(173, 173, 173);
}